:root {
	--main-col: #e5e4cc;
	--secondary-col: #698474;
	--secondary-light-col: #889e81;
	--ternary-col: #85679e;
}

body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

p {
	margin: 0.5em 0;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}