@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Roboto&display=swap');

:root {
	--main-col: #1E2759;
	--secondary-col: #4A808C;
	--secondary-light-col: #729CA6;
	--ternary-col: #A69B03;
	--white-col: #eaeaea;
	--shadow: 4px 4px 8px rgba(255, 255, 255, 0.25);
	--fs-s: .75rem;
	--fs: 1rem;
	--fs-m: 1.333rem;
	--fs-l: 1.777rem;
	--fs-xl: 2.369rem;
	--fs-xxl: 3.157rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 14px;
	background: var(--secondary-light-col);
}

body {
	font-family: 'Gochi Hand', cursive;
	color: var(--main-col);
	width: 100%;
	margin: 0 auto;
}

#sapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}